
services:
  web:
    build: .
    command: >
      sh -c "python manage.py collectstatic --noinput &&
                         python manage.py migrate &&
                         python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app
      - sqlite_data:/app/db.sqlite3
      - static_volume:/app/staticfiles
    ports:
      - "8000:8000"
    environment:
      DJANGO_DEBUG: "True"
      DJANGO_ALLOWED_HOSTS: "*"

volumes:
  sqlite_data:
  static_volume: